html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  background: #00FFFF;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgb(255,0,255,0.5);
  padding: 25px 30px 20px 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 10px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.low {
  color: green;
}

.medium {
  color: blue;
}

.high {
  color: red;
}

.completed {
  text-decoration: line-through;
  color: purple;
}

@media only screen and (max-width:800px) {
  
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  
  .menu, .main, .right {
    width: 100%;}
  }